html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .my-navbar{
    background-color: #D27685;
    color: #E9E8E8;
  }
.navbar-text {
    color: #E9E8E8;
  }
  .nav-link{
    color: black;
  }
  .nav-link:hover{
    color: #913175;
    transition: all 0.3s ease;
    transform: scale(1.05);
  }
.full-height {
  position: relative;
  align-items: center;
}

.search-div:hover{
  color: #913175;
  box-shadow: 0 0 3px #913175;
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.train-find{
  border: 2px solid #913175;
  border-radius: 20px;
  background-color: antiquewhite;
  margin-top: 30px;

}

.train-fields{
  width: 100%;
  height: 100%;
}

.coach {
  background-color: rgba(250, 130, 150, 0.5);
  border: 1px #913175 solid;
  border-radius: 20px;
  margin: 5px;
}

.train-ticket{
  margin-top: 30px;
}

.search-div{
  width: 100px;
  border:2px solid #913175;
}
.search-div:hover{
  color: #913175;
  box-shadow: 0 0 3px #913175;
  transition: all 0.2s ease;
  transform: scale(1.1);
}