@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Port Lligat Sans;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 0;
  height: 60px;
}

a {
  padding: 0 10px;
  color: #ff731d;
}

a:hover {
  text-decoration: none;
  color: #1746a2;
  text-decoration: underline;
}

.home-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 30px 0;
  color: #ff731d;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
}

.links {
  margin-left: auto;
  font-size: 1.8rem;
  margin-right: 10px;
  color: #ff731d;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  right: 0;
  left: auto;
  text-align: right;
  border: none;
  font-size: 1.5rem;
  color: #ff731d;
  width: 100px !important;
  background: none;
  margin-top: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.see-button {
  background: #ff731d;
  border: none;
  color: #fff7e9;
  padding: 10px;
}

.see-button:hover,
.see-button:focus {
  background: #fb9250;
  cursor: pointer;
  outline: none;
}
.package-card {
  width: 70%;
  display: flex;
  flex-direction: row;
  border: 1px solid #1746a2;
  margin: 20px 0;
  border-radius: 20px;
}

.package-image {
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.package-description {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.package-description > div {
  margin: 10px;
  flex-basis: 25%;
  text-align: center;
  padding: 10px;
}

.package-name {
  font-size: larger;
}

.package-price {
  font-size: x-large;
}
