html, body, section {
    block-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

html {
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
  .home-section{
    height: 100%;
  }
  .my-navbar{
    background-color: #D27685;
    color: #E9E8E8;
  }
.navbar-text {
    color: #E9E8E8;
  }
  .nav-link{
    color: black;
  }
  .nav-link:hover{
    color: #913175;
    transition: all 0.3s ease;
    transform: scale(1.05);
  }
.main-section{
    width: 70%;
    height: 400px;
    background-color: #D27685;
    box-shadow: #FFBABA 0px 50px 30px -20px, #FFBABA 0px 30px 60px -30px;
    padding: 70px;
    position: relative;
    border-radius: 30px;
    margin-top: 70px;
}
.button-section{
    width: 50%;
}
.outer-section{
    width: 100%;
    margin-top: 50px;
}
.button-section{
    margin-bottom: 50px;
}
.mod-button {
  border: 0;
  height: 70px;
  width: 70px;
  color: whitesmoke;
  background-color: #9E4784;
  border-radius: 10px;
}
.mod-button:hover {
    background-color: #E9E8E8;
    color: #913175;
    box-shadow: 0 0 10px #913175;
    transition: all 0.3s ease;
    transform: scale(1.1);
  }
button.mod-button:nth-of-type(1n):hover::before {
    content: "bus";
    display: inline-block;
    background-color: rgba(226, 102, 102, 0.5);
    color: #000;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
}
button.mod-button:nth-of-type(2n):hover::before {
    content: "train";
    display: inline-block;
    background-color: rgba(226, 102, 102, 0.5);
    color: #000;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
}
button.mod-button:nth-of-type(3n):hover::before {
    content: "plane";
    display: inline-block;
    background-color: rgba(226, 102, 102, 0.5);
    color: #000;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
}
.travel-form{
    width: 100%;
}
.search-div{
    width: 100px;
    border:2px solid #913175;
}
.search-div:hover{
    color: #913175;
    box-shadow: 0 0 3px #913175;
    transition: all 0.2s ease;
    transform: scale(1.1);
}
.messages {
    width: 30%;
    position: absolute;
    top: 8%;
    right: 3%;
}

/* tour section  */
.tour-section{
  background-color: #913175;
}