.navbar-text {
  color: darkslategrey;
}
.messages {
  width: 30%;
  position: absolute;
  top: 8%;
  right: 3%;
}
.whole-section {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
}
.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}
.booking-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.booking-details {
  width: 100%;
  display: flex;
  flex-direction: column;justify-content: space-around;
}
.bookings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.mod-button{
    margin:10px;
}
.detail{
    margin: 20px;
}
