<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Searched Tickets</title>
  </head>
  <body>
    <ul>
      {%for ticket in tickets%}
      <li>
        {{ticket.source}} -- {{ticket.destination}}
        <form action="book_ticket" method="POST">
          {% csrf_token %}
          <input type="text" name="ticket_id" value="{{ticket.id}}" hidden />
          <!-- <input type="text" name="user_id" value="{{user.username}}" hidden /> -->
          <input type="submit" value="book" />
        </form>
      </li>

      {%endfor%}
    </ul>
  </body>
</html>
