<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Ticket</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap"
      rel="stylesheet"
    />
    {%load static%}
    <link rel="stylesheet" href="{%static 'pravas/css/home.css'%}" />
    <script
      src="https://kit.fontawesome.com/83c51c6793.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .my-navbar {
        background-color: #d27685;
        color: #e9e8e8;
      }
      .navbar-text {
        color: #e9e8e8;
      }
      .nav-link {
        color: black;
      }
      .nav-link:hover {
        color: #913175;
        transition: all 0.3s ease;
        transform: scale(1.05);
      }
    </style>
    <title>Home | PRAVAS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg my-navbar">
      <a class="navbar-brand" href="../pravas" style="color: black">PRAVAS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-
        target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="False"
        aria-
        label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse nav-bar" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="ticket_book">Ticket Book</a>
          </li>
          {% if user.is_authenticated %}

          <li class="nav-item dropdown">
            <a
              class="nav-link"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fa-solid fa-user"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="nav-link" href="profile">{{user.username}}</a>
              <a class="nav-link" href="logout">Logout</a>
            </div>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <section class="home-section">
      <div class="outer-section">
        <div class="main-section">
          <div
            class="d-flex flex-row justify-content-around align-items-center"
          >
            <div
              class="button-section d-flex flex-row justify-content-around align-items-center"
            >
              <button class="p-2 mod-button" id="button1">
                <h3><i class="fa-solid fa-bus"></i></h3>
              </button>
              <button class="p-2 mod-button" id="button2">
                <h3><i class="fa-solid fa-train"></i></h3>
              </button>
              <button class="p-2 mod-button" id="button3">
                <h3><i class="fa-solid fa-plane-departure"></i></h3>
              </button>
            </div>
          </div>

          <div
            class="d-flex flex-row justify-content-center align-items-center"
          >
            <div class="travel-form" id="div1" style="display: block">
              <form
                action="../bus/search_ticket"
                method="POST"
                onsubmit="return validateForm()"
              >
                {% csrf_token %}
                <div class="inner-form d-flex flex-row justify-content-around">
                  <div class="w-100 p-2 fields form-input form-group">
                    <label>From</label>
                    <select name="source" class="form-control selectpicker">
                      <option value=" ">From</option>
                      {% for city in cities %}
                      <option>{{city.city_name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="w-100 p-2 fields form-input form-group">
                    <label>To</label>
                    <select
                      name="destination"
                      class="form-control selectpicker"
                    >
                      <option value=" ">To</option>
                      {% for city in cities %}
                      <option>{{city.city_name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="w-100 p-2 fields form-input">
                    <label>Date</label>
                    <input
                      class="form-control"
                      type="date"
                      name="date_booked"
                    />
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-center form-group">
                  <input
                    class="form-control search-div"
                    type="submit"
                    value="Search"
                  />
                </div>
              </form>
            </div>

            <div class="travel-form" id="div2" style="display: none">
              This is div 2
            </div>
            <div class="travel-form" id="div3" style="display: none">
              This is div 3
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      const today = new Date().toISOString().split("T")[0];
      const sourceField = document.getElementsByName("source")[0];
      const destinationField = document.getElementsByName("destination")[0];
      const dateField = document.getElementsByName("date_booked")[0];

      function validateForm() {
        if (sourceField.value === destinationField.value) {
          alert("Source and Destination cannot be the same");
          return false;
        }
        if (dateField.value < today) {
          alert("Date should be greater than or equal to today");
          return false;
        }
        return true;
      }
    </script>
    <script src="{% static 'pravas/js/home.js' %}"></script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
