@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Port Lligat Sans;
  overflow-x: hidden;
}

.home-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 30px 0;
  color: #ff731d;
  position: absolute;
  top: 0;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 0;
  height: 60px;
}

a {
  padding: 0 10px;
  color: #ff731d;
}

a:hover {
  text-decoration: none;
  color: #1746a2;
  text-decoration: underline;
}

.links {
  margin-left: auto;
  font-size: 1.8rem;
  margin-right: 10px;
  color: #ff731d;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  right: 0;
  left: auto;
  text-align: right;
  border: none;
  font-size: 1.5rem;
  color: #ff731d;
  width: 100px !important;
  background: none;
  margin-top: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* ////////////Landing Section///////////// */

span {
  text-decoration: underline #f79540;
}

@keyframes floatAnimation1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatAnimation2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatAnimation3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.landing {
  width: 100%;
  color: #1746a2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting {
  flex-basis: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.landing-text > h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.landing-text > h2 {
  font-size: 1.2rem;
}

.landing-left {
  position: relative;
  height: 100%;
  flex-basis: 25%;
}

.landing-right {
  position: relative;
  height: 100%;
  flex-basis: 25%;
}

.landing-animation {
  margin-bottom: 20px;
}

.tri1 {
  position: absolute;
  right: 50px;
  top: 200px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/tri1.png);
  rotate: 20deg;
  animation: floatAnimation1 2s infinite;
}

.tri2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/tri2.png);
  animation: floatAnimation2 3s infinite;
  rotate: 45deg;
}

.tri3 {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/tri3.png);
  animation: floatAnimation3 3s infinite;
  rotate: 50deg;
}

.square {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  color: #000000;
}

.square > p {
  margin-top: 10px;
  font-weight: 500;
}

.photo {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sq-1 {
  box-shadow: -30px -30px #fc4f00, 1px 1px 5px #c9c9c9;
  right: 0px;
  top: 600px;
  rotate: 10deg;
  animation: floatAnimation3 3s infinite;
}

.sq-1 > .photo {
  background-image: url(../../images/gujrat.jpg);
}

.sq-2 {
  box-shadow: 40px 30px #f79540, 1px 1px 5px #c9c9c9;
  left: 100px;
  top: 600px;
  rotate: -20deg;
  animation: floatAnimation3 3s infinite;
}

.sq-2 > .photo {
  background-image: url(../../images/manali.jpg);
}

.sq-3 {
  box-shadow: -30px -30px #b71375, 1px 1px 5px #c9c9c9;
  left: 5px;
  top: 400px;
  rotate: 25deg;
  font-size: 0.8rem;
  animation: floatAnimation3 2s infinite;
}

.sq-3 > .photo {
  background-image: url(../../images/mahabalipuram.jpg);
}

.landing-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.searching {
  z-index: 2;
  width: 60%;
  padding: 10px;
}

.left-part {
  width: 25%;
  font-size: 2rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.right-part {
  width: 70%;
  margin-top: 15px;
  text-align: center;
}

.date > .left-part {
  color: #ff731d;
}

.change {
  color: #f79540;
}

button {
  background: #ff731d;
  border: none;
  color: #fff7e9;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

button:hover,
button:focus {
  background: #fb9250;
  cursor: pointer;
  outline: none;
}

/* ///Destinations//// */

.heading {
  font-weight: 600;
  font-size: 2rem;
  color: #1746a2;
  margin-top: 150px;
}

.heading > span {
  text-decoration: underline #f79540 5px;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 75vw;
  height: 80vh;
  margin-top: 100px;
}

.item {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item:hover {
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5), 9px 10px #f79540;
  padding: 50px;
}

.item > hr {
  height: 3px;
  background-color: #fff;
  border: none;
  margin: 10px 0;
}

.place {
  font-size: 2.5rem;
  color: #fff;
  margin-top: auto;
}

.lines {
  color: #fff;
  font-size: 1.3rem;
}

.item:nth-of-type(1) {
  background-image: url(../../images/gujrat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item:nth-of-type(2) {
  background-image: url(../../images/goa.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 5;
}

.item:nth-of-type(3) {
  background-image: url(../../images/manali.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 2;
  grid-column: 3;
}

.item:nth-of-type(4) {
  background-image: url(../../images/mahabalipuram.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 2;
  grid-column: 4;
}

.item:nth-of-type(5) {
  background-image: url(../../images/rajasthan.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item:nth-of-type(6) {
  background-image: url(../../images/lonavala.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

/* //////////Themes//////////// */

.themes {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0px;
}

.theme {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 5px 5px 20px #fb9250;
  margin: 10px;
}

.theme:hover {
  box-shadow: 15px 15px 20px #fb9250;
}

.theme:nth-of-type(1) {
  background-image: url(../../images/honeymoon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme:nth-of-type(2) {
  background-image: url(../../images/summer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme:nth-of-type(3) {
  background-image: url(../../images/winter.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme:nth-of-type(4) {
  background-image: url(../../images/weekend.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme:nth-of-type(5) {
  background-image: url(../../images/adventure.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  font-size: 1.2rem;
  color: #1746a2;
  margin-top: auto;
  padding: 10px;
}

/* ///////////About Us/////////// */

.aboutus {
  width: 100vw;
  height: 30vh;
  margin-top: 100px;
  background-color: #fff7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus > .heading {
  margin-top: -30px;
}

.about-text {
  padding: 0 20vw;
  text-align: center;
  margin-top: 20px;
  color: #1746a2;
  font-size: 1.2rem;
}

/* ///////////form///////////// */

select {
  border: none;
  background: none;
  color: #fb9250;
}

select option {
  border: none;
  background: none;
  color: #1746a2;
}

form {
  width: 100%;
  z-index: 2;
  width: 60%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 1.3rem;
  color: #1746a2;
}

form > * {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
