@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.outer-section {
  height: 100vh;
  width: 100vw;
  background-color: #1746a2;
  padding: 6rem 5rem;
  color: #0081c9;
  font-family: Port Lligat Sans;
}

.middle-section {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.3),
    0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

.inner-section {
  height: 100%;
}

.carousel-section {
  background-color: #5f9df7;
  color: #fff7e9;
  text-align: center;
  flex-basis: 55%;
}

.form-section {
  background-color: #fff7e9;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.title {
  flex-basis: 25%;
  font-size: 5rem;
  margin-top: 2rem;
}

form {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10%;
  position: relative;
  width: 80%;
  font-family: Port Lligat Sans;
  font-size: 1.5rem;
}

.inputs--filled {
  background: none;
}

input[type="password"],
input[type="text"],
input[type="email"] {
  height: 2.5rem;
  margin: 0 0 1.15rem;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #ff731d;
  box-sizing: border-box;
  outline: none;
  color: #1746a2;
}

input[type="password"]:required,
input[type="text"]:required,
input[type="email"]:required {
  box-shadow: none;
  outline: none;
}

.login-form {
  flex-basis: 75%;
}

.inputs--filled label {
  transform: translate(0, 0);
}

label {
  display: inline-block;
  transform: translate(0, 2.5rem);
  transition: 0.25s;
}

button {
  background: #ff731d;
  border: none;
  color: #fff7e9;
  padding: 0.5rem;
  margin-top: 30px;
}

button:hover,
button:focus {
  background: #fb9250;
  cursor: pointer;
  outline: none;
}

a {
  color: #ff731d;
}

a:hover,
a:focus {
  color: #fb9250;
}

.carousel-inner {
  height: inherit;
  width: inherit;
}

.carousel-slide {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  font-size: 1.2rem;
}

.quote {
  font-size: 2.5rem;
}

.animation {
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .outer-section {
    padding: 3rem 2rem;
  }

  .middle-section {
    flex-direction: column;
  }

  .inner-section {
    width: 100%;
  }

  .carousel-section {
    flex-basis: 45%;
  }

  .form-section {
    flex-basis: 55%;
  }

  .title {
    flex-basis: 25%;
    font-size: 3rem;
    margin-top: 1rem;
  }

  form {
    padding: 4%;
    width: 60%;
    font-size: 1.2rem;
  }

  .carousel-slide {
    padding: 0 1rem;
    font-size: 0.7rem;
  }

  .quote {
    font-size: 1rem;
  }

  .animation {
    width: 200px;
    height: 200px;
  }
}
