<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet" />
    {%load static%}
    <link rel="stylesheet" href="{%static 'administration/css/index.css'%}" />
    <script src="https://kit.fontawesome.com/83c51c6793.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Home | PRAVAS</title>
</head>

<body>
    <div class="home-section">
        <div class="landing-section">
            <div class="navbar">
                <ul>
                    <li class="logo">
                        <p>PRAVAS</p>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="links dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa-solid fa-user"></i></a>
                        <ul class="dropdown-menu ">
                            <li><i class="fa-solid fa-address-card"></i> <a href="profile">Profile</i></a></li>
                            <li><i class="fa-solid fa-right-from-bracket"></i> <a href="logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="links">
                        <a href="login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="landing">
                <div class="landing-left">
                    <div class="tri1"></div>
                    <div class="tri3"></div>
                    <div class="square sq-1">
                        <div class="photo"></div>
                        <p>Gujrat</p>
                    </div>
                </div>
                <div class="greeting">
                    <div class="landing-text">
                        <h1>Discover the <span>best places</span></h1>
                        <h1>to <span>enjoy</span> your next <span>vacation</span></h1>
                        </>
                        <h2>We always make our customers happy by providing many choices</h2>
                    </div>
                    <div class="landing-animation">
                        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_0ilhlmpl.json"
                            background="transparent" speed="1" style="width: 600px; height: 600px;" loop
                            autoplay></lottie-player>
                    </div>

                </div>
                <div class="landing-right">
                    <div class="tri2"></div>
                    <div class="square sq-2">
                        <div class="photo"></div>
                        <p>Manali</p>
                    </div>
                    <div class="square sq-3">
                        <div class="photo"></div>
                        <p>Mahabalipuram</p>
                    </div>
                </div>
            </div>
            <div class="searching">
                <form action="package/" class="index-form" method="POST">
                    {% csrf_token %}
                    <div class="explore-button">
                        <button type="submit">Explore Now</button>
                    </div>
                    <div class="destination">
                        <div class="left-part">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="right-part">
                            <p>Destination</p>
                            <p class="change"><select id="place-dropdown" name="place_id"></select></p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="left-part">
                            <i class="fa-solid fa-indian-rupee-sign"></i>
                        </div>
                        <div class="right-part">
                            <p>Max Price</p>
                            <p class="change"><select id="price-dropdown" name="max_price"></select></p>
                        </div>
                    </div>
                    <div class="date">
                        <div class="left-part">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div class="right-part">
                            <p>Month</p>
                            <p class="change"><select id="month-dropdown" name="month_id"></select></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="heading">
            Popular <span> Destination </span>
        </div>
        <div class="destinations">
            <div class="item">
                <div class="place">Gujrat</div>
                <hr>
                <div class="lines">Experience vibrant culture, stunning architecture, and mouthwatering cuisine in
                    Gujarat, a
                    captivating destination for travelers.
                </div>
            </div>
            <div class="item">
                <div class="place">Goa</div>
                <hr>
                <div class="lines">A tropical paradise blending sun-kissed beaches, vibrant nightlife, and Portuguese
                    charm,
                    captivating visitors with its intoxicating fusion of relaxation and revelry.
                </div>
            </div>
            <div class="item">
                <div class="place">Manali</div>
                <hr>
                <div class="lines">Manali, the picturesque paradise nestled amidst the majestic Himalayas.
                </div>
            </div>
            <div class="item">
                <div class="place">Mahabalipuram</div>
                <hr>
                <div class="lines">A captivating coastal town boasting ancient rock-cut temples.
                </div>
            </div>
            <div class="item">
                <div class="place">Rajasthan</div>
                <hr>
                <div class="lines">A vibrant tapestry of majestic forts, colorful festivals, and desert landscapes that
                    captivate the hearts of travelers.
                </div>
            </div>
            <div class="item">
                <div class="place">Lonavala</div>
                <hr>
                <div class="lines">A picturesque hill station nestled amidst lush greenery, offering breathtaking views,
                    serene
                    lakes, and a rejuvenating escape from city life.
                </div>
            </div>
        </div>

        <div class="heading">
            Explore <span> Themes </span>
        </div>
        <div class="themes">
            <div class="theme">
                <div class="text">Honeymoon</div>
            </div>
            <div class="theme">
                <div class="text">Summer</div>
            </div>
            <div class="theme">
                <div class="text">Winter</div>
            </div>
            <div class="theme">
                <div class="text">Weekend</div>
            </div>
            <div class="theme">
                <div class="text">Adventure</div>
            </div>
        </div>

        <div class="aboutus">
            <div class="heading">
                About <span> Us </span>
            </div>
            <div class="about-text">
                Whether you're a solo traveler, a couple, or a family, Pravas aims to make your vacation planning
                stress-free
                and your journey remarkable. Explore the world with confidence, knowing that Pravas has taken care of
                every
                detail, allowing you to focus on making the most of your well-deserved getaway
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            // Get the place names from your model
            var placeNames = [
                {% for place in places %}
                    "{{ place.name }}",
            {% endfor %}
            ];

        var placesIds = [
            {% for place in places %}
        "{{ place.id }}",
            {% endfor %}
            ]

        var place_dropdown = $('#place-dropdown')
        for (var i = 0; i < placeNames.length; i++) {
            var option = $('<option>', { value: placesIds[i], text: placeNames[i] });
            place_dropdown.append(option);
        }

        var prices = [5000, 10000, 15000, 18000, 20000, 25000]
        var prices_dropdown = $('#price-dropdown')
        for (var i = 0; i < prices.length; i++) {
            var price = $('<option>', { value: prices[i], text: "₹" + prices[i] + " /-" });
            prices_dropdown.append(price)
        }

        var months = [
            {% for month in months %}
        "{{ month.name }}",
            {% endfor %}
            ];

        var monthIds = [
            {% for month in months %}
        "{{ month.id }}",
            {% endfor %}
            ];

        var month_dropdown = $("#month-dropdown")
        for (var i = 0; i < months.length; i++) {
            var month = $('<option>', { value: monthIds[i], text: months[i] });
            month_dropdown.append(month)
        }
        
        });
    </script>
</body>

</html>